
<div class="container">
    <form ng-submit="adminsubmit()">
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
        </div>
        <div class="col-lg-12">
            &nbsp;
        </div>
        <div class="col-lg-12">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        Email:<input type="text" ng-model="email"  class="form-control" /><br/>
                    </div>
                    <div class="col-lg-12">
                        &nbsp;
                    </div>
                    <div class="col-lg-6">
                        Password:<input type="password" ng-model="password"  class="form-control" /><br/>
                    </div>
                    <div class="col-lg-12">
                        &nbsp;
                    </div>
                    <div class="col-lg-6">
                        <button type="submit">submit</button>&nbsp;&nbsp;
                        <input type="button" onclick="cancel()" value="cancel" class="btn btn-danger">
                    </div>
                    <div class="col-lg-12">
                        &nbsp;
                    </div>


                </div>
            </div>
        </div>
    </div>
    </form>
</div>
